{% assign publication = include.publication %}
{% if publication.title %}
  {% if publication.title_url %}
    {% if publication.status %}
      {% assign requires_date = false %}
      {% if publication.status == "preprint" %}
        {% assign requires_date = true %}
      {% endif %}
      {% if publication.status == "published" %}
        {% assign requires_date = true %}
      {% endif %}

      {% if requires_date == false %}
        {% assign should_render = true %}
      {% else %}
        {% assign should_render = false %}
        {% if publication.date %}
          {% assign should_render = true %}
        {% endif %}
      {% endif %}

      {% if should_render %}
        {% assign sorted_coauthors = include.coauthors | sort: "name" | sort: "last_name" %}
        {% assign publication_coauthor_ids = "|" %}
        {% if publication.coauthors %}
          {% for coauthor_id in publication.coauthors %}
            {% capture coauthor_marker %}|{{ coauthor_id }}|{% endcapture %}
            {% unless publication_coauthor_ids contains coauthor_marker %}
              {% assign publication_coauthor_ids = publication_coauthor_ids | append: coauthor_id | append: "|" %}
            {% endunless %}
          {% endfor %}
        {% endif %}

        {% assign valid_coauthor_count = 0 %}
        {% for coauthor in sorted_coauthors %}
          {% if coauthor.coauthor_id %}
            {% if coauthor.name %}
              {% if coauthor.last_name %}
                {% capture coauthor_marker %}|{{ coauthor.coauthor_id }}|{% endcapture %}
                {% if publication_coauthor_ids contains coauthor_marker %}
                  {% assign valid_coauthor_count = valid_coauthor_count | plus: 1 %}
                {% endif %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}

        {% capture detail_line %}
          {% if publication.outlet_name %}
            <em>{% if publication.outlet_url %}<a href="{{ publication.outlet_url }}">{{ publication.outlet_name }}</a>{% else %}{{ publication.outlet_name }}{% endif %}</em>{% if publication.citation_text %}, {{ publication.citation_text }}{% endif %}
          {% elsif publication.preprint_label %}
            <em>{% if publication.preprint_url %}<a href="{{ publication.preprint_url }}">{{ publication.preprint_label }}</a>{% else %}{{ publication.preprint_label }}{% endif %}</em>
          {% endif %}
        {% endcapture %}
        {% assign detail_line = detail_line | strip %}

        <li>
          <strong><a href="{{ publication.title_url }}">{{ publication.title }}</a></strong>
          {% if valid_coauthor_count > 0 %}
            <br>with
            {% assign printed_coauthor_count = 0 %}
            {% for coauthor in sorted_coauthors %}
              {% if coauthor.coauthor_id %}
                {% if coauthor.name %}
                  {% if coauthor.last_name %}
                    {% capture coauthor_marker %}|{{ coauthor.coauthor_id }}|{% endcapture %}
                    {% if publication_coauthor_ids contains coauthor_marker %}
                      {% assign printed_coauthor_count = printed_coauthor_count | plus: 1 %}
                      {% if printed_coauthor_count > 1 %}{% if printed_coauthor_count == valid_coauthor_count %} and {% else %}, {% endif %}{% endif %}
                      {% assign coauthor_profile_url = coauthor.profile_url | default: "" | strip %}
                      {% if coauthor_profile_url != "" %}<a href="{{ coauthor_profile_url }}">{{ coauthor.name }}</a>{% else %}{{ coauthor.name }}{% endif %}
                    {% endif %}
                  {% endif %}
                {% endif %}
              {% endif %}
            {% endfor %}
            {% if detail_line != "" %}, {{ detail_line }}{% endif %}
          {% elsif detail_line != "" %}
            <br>{{ detail_line }}
          {% endif %}
          {% if publication.note %}
            <br><em>{{ publication.note }}</em>
          {% endif %}
        </li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endif %}
