{% assign publication = include.publication %}
{% if publication.title and publication.title_url and publication.status %}
  {% assign requires_date = false %}
  {% if publication.status == "preprint" or publication.status == "published" %}
    {% assign requires_date = true %}
  {% endif %}

  {% if requires_date == false or publication.date %}
    {% assign valid_coauthor_count = 0 %}
    {% if publication.coauthors %}
      {% for coauthor_id in publication.coauthors %}
        {% assign matched_coauthors = include.coauthors | where: "coauthor_id", coauthor_id %}
        {% assign coauthor = matched_coauthors | first %}
        {% if coauthor and coauthor.name and coauthor.last_name %}
          {% assign valid_coauthor_count = valid_coauthor_count | plus: 1 %}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% capture detail_line %}
      {% if publication.outlet_name %}
        <em>{% if publication.outlet_url %}<a href="{{ publication.outlet_url }}">{{ publication.outlet_name }}</a>{% else %}{{ publication.outlet_name }}{% endif %}</em>{% if publication.citation_text %}, {{ publication.citation_text }}{% endif %}
      {% elsif publication.preprint_label %}
        <em>{% if publication.preprint_url %}<a href="{{ publication.preprint_url }}">{{ publication.preprint_label }}</a>{% else %}{{ publication.preprint_label }}{% endif %}</em>
      {% endif %}
    {% endcapture %}
    {% assign detail_line = detail_line | strip %}

    <li>
      <strong><a href="{{ publication.title_url }}">{{ publication.title }}</a></strong>
      {% if valid_coauthor_count > 0 %}
        <br>with
        {% assign printed_coauthor_count = 0 %}
        {% for coauthor_id in publication.coauthors %}
          {% assign matched_coauthors = include.coauthors | where: "coauthor_id", coauthor_id %}
          {% assign coauthor = matched_coauthors | first %}
          {% if coauthor and coauthor.name and coauthor.last_name %}
            {% assign printed_coauthor_count = printed_coauthor_count | plus: 1 %}
            {% if printed_coauthor_count > 1 %}{% if printed_coauthor_count == valid_coauthor_count %} and {% else %}, {% endif %}{% endif %}
            {% if coauthor.profile_url %}<a href="{{ coauthor.profile_url }}">{{ coauthor.name }}</a>{% else %}{{ coauthor.name }}{% endif %}
          {% endif %}
        {% endfor %}
        {% if detail_line != "" %}, {{ detail_line }}{% endif %}
      {% elsif detail_line != "" %}
        <br>{{ detail_line }}
      {% endif %}
      {% if publication.note %}
        <br><em>{{ publication.note }}</em>
      {% endif %}
    </li>
  {% endif %}
{% endif %}
